.page-title {
  text-align: center;
  color: #005999;
  font-family: "Open Sans Condensed", sans-serif;
}
.container {
  display: flex;
  flex-direction: row;
  color: #005999;
  font-family: "Open Sans Condensed", sans-serif;
}

.legend {
  display: flex;
  flex-direction: column;
}

.p-line {
  fill: none;
}

path {
  opacity: 0.7;
}

.p-line.inactive {
  opacity: 0.05;
}

.p-line.active {
  opacity: 1;
  stroke-width: 5px;
}

.axis-label {
  text-anchor: end;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 13px;
  fill: black;
}

.axis-label:hover {
  font-size: 14px;
  font-weight: bold;
}

.legend-cell.inactive {
  opacity: 0.2;
}

.legend-cell.active {
  opacity: 1;
}

.legend-cell {
  width: 110px;
  height: 40px;
  margin: 5px 2px;
  text-align: center;
  font-size: 1.1em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: sans-serif;
  cursor: pointer;
  box-shadow: 1px 1px 8px 1px #bbbbbb;
}

.legend-cell:hover {
  box-shadow: none;
}

.legend-title {
  font-size: 1.2em;
  font-weight: bold;
  font-family: sans-serif;
}

.demo-group {
  display: flex;
  flex-direction: row;
}

.Total {
  background: #263238;
}
.Age-18-29 {
  background: #80cbc4;
}
.Age-30-44 {
  background: #26a69a;
}
.Age-45-64 {
  background: #00695c;
}
.Age-65-and-Over {
  background: #004d40;
}

.Gender-Male {
  background: #42a5f5;
}
.Gender-Female {
  background: #0d47a1;
}
.Race-White {
  background: #F48FB1;
}
.Race-Black {
  background: #EC407A;
}
.Race-Hispanic {
  background: #C2185B;
}
.Race-Other {
  background: #880E4F;
}

.Educ-HS-or-Less {
  background: #ef9a9a;
}
.Educ-Some-College {
  background: #f44336;
}
.Educ-College-Grad {
  background: #d32f2f;
}
.Educ-Post-Grad {
  background: #b71c1c;
}

.Party-Dem {
  background: #ce93d8;
}
.Party-Rep {
  background: #8e24aa;
}
.Party-Ind {
  background: #4a148c;
}
.Ideology-Very-liberal {
  background: #ffecb3;
}
.Ideology-Liberal {
  background: #ffd54f;
}
.Ideology-Moderate {
  background: #ffc107;
}
.Ideology-Conservative {
  background: #ffa000;
}
.Ideology-Very-Conservative {
  background: #ff6f00;
}

.Icome-Less-than-40k {
  background: #bcaaa4;
}
.Icome-40-80k {
  background: #8d6e63;
}
.Icome-80-120k {
  background: #5d4037;
}
.Icome-Over-120k {
  background: #3e2723;
}
